.circle{
  width: 200px;
  min-height: 200px;
  background-color: lightblue;
  animation-delay:2s;
  animation-duration: 2.5s;
  animation-name: breath;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  z-index:1;
}

.circle2{
  width:450px;
  height:450px;
  background-color: snow;
  border:1px solid brown;
}

@keyframes breath {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(2.25)
  }
}
