/* General styling */
body{
  background-color: #555;
  color: white;
}
.pattern-container{
  min-height: 60vh;
}
svg{
  width:150px;
}
/* End General Styling*/


/* Classes for Each Individual Breathing Pattern */
.box-breathing-path {
  stroke-dashoffset: 450;
  stroke-dasharray:  450;
  animation: box-breathing-path 4s linear alternate;
  animation-delay:1s;
  animation-iteration-count: infinite;
}
.box-breathing{
  animation-delay:1s;
  animation-duration: 16s;
  animation-name: box-breathing;
  animation-direction: normal;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

.pursed-breathing-path {
  stroke-dashoffset: 450;
  stroke-dasharray:  450;
  animation: pursed-breathing-path 6s linear;
  animation-delay:1s;
  animation-iteration-count: infinite;
}
.pursed-breathing{
  animation-delay:1s;
  animation-duration: 6s;
  animation-name: pursed-breathing;
  animation-direction: normal;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

.rib-stretch-breathing-path {
  stroke-dashoffset: 450;
  stroke-dasharray:  450;
  animation: rib-stretch-breathing-path 30s linear alternate;
  animation-delay:1s;
  animation-iteration-count: infinite;
}
.rib-stretch-breathing{
  animation-delay:1s;
  animation-duration: 16s;
  animation-name: rib-stretch-breathing;
  animation-direction: normal;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes box-breathing-path {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes box-breathing {
  0% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  25% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  50% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  75% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  100% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
}

@keyframes pursed-breathing-path {
  0% {
    stroke-dashoffset: 450;
  }
  33% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 450;
  }
}
@keyframes pursed-breathing {
  0% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  33% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  100% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
}

@keyframes rib-stretch-breathing-path {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes rib-stretch-breathing {
  0% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  25% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  50% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  75% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  100% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
}

/* End Patterns */
