/* Circles for Breathing Pattern */
.circle1{
  width: 200px;
  height: 200px;
}
.circle2{
  width:450px;
  height:450px;
}
/* End Circles */


/* Classes for Each Individual Breathing Pattern */
.box-breathing{
  animation-delay:2s;
  animation-duration: 16s;
  animation-name: box-breathing;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@-webkit-keyframes box-breathing {
  0% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  25% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  50% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  75% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );  
  }
  100% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
}
/* End Patterns */
