/* Circles for Breathing Pattern */
.circle1{
  width: 200px;
  height: 200px;
}
.circle2{
  width:450px;
  height:450px;
}
/* End Circles */


/* Classes for Each Individual Breathing Pattern */
.pattern1{
  animation-delay:2s;
  animation-duration: 2.5s;
  animation-name: pattern1;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}
@keyframes pattern1 {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(2.25)
  }
}
/* End Patterns*/
