svg{
  width:150px;
}

/* Classes for Each Individual Breathing Pattern */
.box-breathing-path {
  stroke-dashoffset: 450;
  stroke-dasharray:  450;
  animation: box-breathing-path 4s linear alternate;
  animation-delay:2s;
  animation-iteration-count: infinite;
}
.box-breathing{
  animation-delay:2s;
  animation-duration: 16s;
  animation-name: box-breathing;
  animation-direction: normal;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes box-breathing-path {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes box-breathing {
  0% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  25% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  50% {
  -webkit-transform: scale( 2.25 );-moz-transform: scale( 2.25 );-o-transform: scale( 2.25 );-ms-transform: scale( 2.25 );transform: scale( 2.25 );
  }
  75% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
  100% {
  -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
}
/* End Patterns */
